* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}



:root{
   --white:#ffffff;
   --gray:#F1F1F4;
   --body:#ffffff;
   --book-title:#0000009e;
   --icons-color:#4f4f4f;
}

body {
  width: 100%;
}

.lang__selector__contener{
  position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
    z-index: 100;
    background: white;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s ease-out;
}

.lang__selector{
  width: 100px;
    padding: .5rem;
    border-radius: 3px;
    background: antiquewhite;
    margin: 5px;
}

.home__contener {
  margin-bottom: 1rem;
  overflow-x: hidden;
 position: relative;
}

.home__content{
  height: fit-content;
}

.home__contener aside {
  display: none;
}
.home {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cards__contener {
  width: 100%;
/*  margin-bottom: 1rem;
*/  display: flex;
  flex-direction: column;
}

.cards::-webkit-scrollbar, .catogre::-webkit-scrollbar{
  display: none;
}



.catogre{
  min-height: 14vh;
    width: 100%;
    display: flex;
    margin-right: 2%;
    direction: rtl;
    overflow: scroll;
}
.catogre div{
  min-width: 100px;
    width: 30%;
    border-radius: 3px;
    height: 100px;
    box-shadow:inset 0px 0px 3px rgba(0,0,0,0.3);
    margin-left: 10px;


}
.cards {
  display: flex;
  overflow: scroll;
  direction: rtl;
  margin-right: 2%;
}

.cards:dir(ltr){
  background: blue;
}
.cards::last-child {
  padding-left: .8rem;
}
.card {
  margin-top: 0.5rem;
/*  max-width: 30%;
*/  border-radius: 3px;
  text-align: end;
  margin: 0 0.8rem;
  margin-right: 0;
}
.card img {
  width: 120px;
  float: left;
  max-width: 108px;
  height: 160px;
  object-fit: cover;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.card p {
  padding: 5px;
  font-size: 14px;
  font-weight: 800;
  color: #635e5ea8;
  text-align: right;
  padding-top: 5px;
}
.card span {
  font-size: 12px;
  float: right;
  color: #635e5ea8;
}

.card h5 {
  padding: 5px 0;
  padding-right: 5px;
}
form,
.search_box {
/*  background-color: green;
*/  width: 100%;
/*  height: 20vh;
*/  display: flex;
margin-bottom:7px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search_rusult,
.search_rusult_form {
 
  width: 100%;
    height: auto;
    position: sticky;
    z-index: 10;
    background: white;
    top: 0;
}
.search_rusult_form input {
  margin: auto;
  margin: 0.5rem auto;
}
.title {
  text-align: end;
  margin: 10px;
  font-family: auto;
  color: var(--book-title);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

input::placeholder{
  color: var(--icons-color);
}
.title .more_link {
  font-size: 11px;
  color: var(--book-title);

  align-self: flex-end;
}
.more_link svg {
  width: 14px;
}
.search__result .card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.search__result .card span, .search__result .card p{
  color: black;
}

.search__result .card .read__link {
  display: flex;
  padding: 4px 10px;
  width: 70px;
  justify-content: space-between;
  margin-top: .5rem;
  border: 1px solid  #80808057;
  align-items: center;
  align-self: center;
  text-decoration: none;
  border-radius: 30px;
  margin-left: auto;
}
  .speak__button{
    padding: 20px;
    position: absolute;
    display: flex;
    left: .8rem;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.search_box .speak__button{
  top:1.2rem;
}

 .speak__button svg{
  position: absolute;
  width: 12px;
}
 .speak__button svg path{
 fill:var(--icons-color);
}
.search__result .card .read__link svg{
  width: 20px;
  fill: green;
}
.search__result .card span {
  margin-top: 0.5rem;
}
.search__result .card .details {
  display: flex;
  flex-direction: row-reverse;
}
.search__result .card .details p {
  font-weight: normal;
}
.search__result .card .details .book_details {
  align-self: flex-end;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}
.search__result .card img {
  width: 30%;
  align-self: flex-end;
}

.search_box a,
.search_rusult a {
  display: flex;
  width: 100%;
  text-decoration: none;
  position: relative;
}

.search_box .search__icon,
.search_rusult .search__icon {
  width: 18px;
  top: 2rem;
  right: 1.5rem;
  position: absolute;
}

.search_rusult .search__icon .back__link{
  display: unset;
  color: var(--icons-color);
  padding: 14px;
  padding-left: 0;
}
.search_rusult_form .search__icon {
  top: 1.4rem;
}
input {
  align-self: center;
  margin: auto;
  margin-top: 1rem;
  text-align: end;
  width: 95%;

  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  padding-right: 2.7rem;
}

.search_box h3 {
  width: 95%;
  color: var(--icons-color);
  margin-top: 15px
}


.Info{
  height: 100vh;
  width: 100%;
  position: fixed;
    top: 0;
    z-index: 20;
    bottom: 0;
    background: white;

}
@media screen and (min-width: 770px) {
  body {
    background-color: white;
  }
  .home__contener {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
   position: unset;
}
  .home__contener aside {
    display: flex;
    width: 15%;
    height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .home__content {
    width: 85%;
    padding-right: 2rem;
    position: absolute;
    left: 0;
  }

  form,
  .search_box {
    background: none;
    box-shadow: none;
    height: unset;
    margin-bottom: 1.5rem;
  }
  .search_box h3 {
    display: none;
  }
  .search_box a {
    width: 300px;
    align-self: flex-end;
  }
  .search_box a input {
    border-radius: 30px;
  }
}

/*custom modal*/

.modal__contener{
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background: rgba(0,0,0,0.3);
  z-index: 200;
}


/******************** modal*********************/

.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
}

.modal {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: blue;
  z-index: 100;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;
}

.modal button {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #0000003a;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.562);
}


/**************** animation ********************/

 .loading-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
  }
  
  .loading {
    display: none;
  }
  
  .no-content .loading {
    display: flex;
    justify-content: space-around;
    width: 80px;

  }
  .lestning{
    padding:1rem;
    font-weight: 900;
  }
  
  .loading {
    padding: 20px;
  }
  .loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
  }
  .loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
  }
  .loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
  }
  
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.2);
    }
    40% {
      transform: scale(1);
    }
  }



/*dark theme*/
@media (prefers-color-scheme: dark) {
  :root{
   --white:#ffffff;
   --gray:#F1F1F4;
   --body:#ffffff;
   --book-title:#0000009e;
   --icons-color:#4f4f4f;
}
}